html {
    background-image: url('Static.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    color: whitesmoke;
}
h2, p{
    text-align: center;
}
textarea {
    margin: auto;
    width: 400px;
    text-align: center;
    display: block;
}